@import "/src/styles/vars.less";

.currencyInput {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 0;
}

.label {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

.currencySelector {
  border-radius: @inputBorderRadius;
  border: @inputBorder;
  box-sizing: border-box;

  width: 100%;
  padding: @inputPadding;
  margin: @inputMargin;

  font-family: "Roboto Mono", Courier, monospace;
  text-align: center;
}
