@import "/src/styles/vars.less";

.localeSelector {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;

  height: 100%;
}

.localeSelector select {
  display: flex;
  flex-flow: column nowrap;

  border: @inputBorder;
  border-radius: @inputBorderRadius;
  padding: @inputPadding;
  margin: @inputMargin;
}
